
[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false

# ReSharper properties
resharper_blank_lines_after_block_statements = 0
resharper_constructor_or_destructor_body = expression_body
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = 
resharper_parentheses_redundancy_style = remove
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_wrap_object_and_collection_initializer_style = chop_always
