.header {
  background: var(--header-background);
  padding: 1rem;
  margin-bottom: var(--header-margin-bottom);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
