@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./libs/primereact/primereact";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

*, :before, :after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background-size: cover;
  background: #0f172a url("/bg.png") no-repeat fixed;
  color: var(--text-color);
  @apply font-body;
}

#__next {
  display: grid;
  grid-template-rows: min-content auto min-content;
  @apply gap-2;
  height: 100%;
}
