@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./libs/primereact/primereact";

*, :before, :after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url("/bg.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  @apply font-body;
}

#__next {
  display: grid;
  grid-template-rows: min-content auto min-content;
  @apply gap-2;
  height: 100%;
}
